In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:

coders_df = pd.read_csv(coders)
coders_df.head()# Read with pandas

C:\Users\redea\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
yesno_df = new_df.replace({0: "No", 1: "Yes"})

In [7]:
# Calculate total number of respondents in survey 
total_respondents = len(new_df) #changed variable name from len_respondents to total respondents
total_respondents

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
attended = yesno_df.loc[yesno_df["AttendedBootcamp"]=="Yes"]
attended

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39.0,Yes,Yes,Yes,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,Yes,Yes,Yes,NaN,No,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,Yes,Yes,No,21600.0,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,No,5,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,Yes,Yes,No,36000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8,200000.0,NaN,bachelor's degree,Marketing

In [31]:
# Calculate average age of attendees
avg_age = attended["Age"].mean()
print(round(avg_age, 3))

# Calculate how many people attended a bootcamp
len_attended = len(attended)
len_attended

# Calculate how many attendees hold degrees
#degrees = attended["SchoolDegree"].value_counts()
degrees = new_df["SchoolDegree"].unique()
for x in ["SchoolDegree"]:
    rename = new_df.rename({"some college credit": "No", ""})
rename.tail(50)
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

# Calculate percentage of respondents who attended a bootcamp

# Calculate percentage of respondents belonging to each gender

# Calculate percentage of attendees with a school degree

# Calculate average post-bootcamp salary

31.066

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
15570,38.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,100.0,200000.0,NaN,Ph.D.,Computer Science
15571,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Employed for wages,male,NaN,4.0,200000.0,NaN,bachelor's degree,Psychology
15572,48.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,"less than 100,000",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed freelancer,female,1.0,10.0,200000.0,NaN,bachelor's degree,Art History
15573,32.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,United States of America,legal,Employed for wages,male,1.0,1.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Bioengineering and Biomedical Engineering
15574,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United Kingdom,software development and IT,Employed for wages,male,NaN,1.0,200000.0,NaN,bachelor's degree,Graphic Design
15575,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,15.0,200000.0,NaN,master's degree (non-professional),Electrical and Electronics Engineering
15576,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Employed for wages,male,0.0,NaN,200000.0,NaN,bachelor's degree,Information Systems
15577,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,4.0,200000.0,NaN,master's degree (non-professional),Computer Science
15578,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,India,software development and IT,Employed for wages,male,0.0,25.0,200000.0,NaN,bachelor's degree,Computer Science
15579,34.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"between 100,000 and 1 million",NaN,United States of America,sales,Employed for wages,male,1.0,3.0,200000.0,NaN,master's degree (non-professional),Physics
15580,53.0,0.0,NaN,NaN,NaN,NaN,NaN,3.0,more than 1 million,NaN,United States of America,software development and IT,Self-employed business owner,male,1.0,10.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",History
15581,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,software development and IT,Employed for wages,male,NaN,2.0,200000.0,NaN,"some college credit, no degree",NaN
15582,36.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,more than 1 million,NaN,United Kingdom,software development and IT,Employed for wages,male,1.0,69.0,200000.0,NaN,some high school,NaN
15583,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United Kingdom,software development and IT,Self-employed business owner,male,0.0,8.0,200000.0,NaN,bachelor's degree,Computer Science
15584,40.0,0.0,NaN,NaN,NaN,NaN,NaN,3.0,more than 1 million,NaN,Australia,software development and IT,Employed for wages,male,1.0,10.0,200000.0,DevOps / SysAdmin,bachelor's degree,Computer Systems Analysis
15585,54.0,0.0,NaN,NaN,NaN,NaN,NaN,4.0,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,1.0,10.0,200000.0,NaN,bachelor's degree,Computer and Information Studies
15586,29.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,more than 1 million,NaN,United Kingdom,software development and IT,Employed for wages,male,1.0,8.0,200000.0,NaN,bachelor's degree,Computer Science
15587,36.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,3.0,200000.0,NaN,bachelor's degree,Computer Science
15588,36.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,1.0,10.0,200000.0,NaN,master's degree (non-professional),Electrical Engineering
15589,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Colombia,software development and IT,Employed for wages,male,0.0,5.0,200000.0,NaN,"trade, technical, or vocational training",NaN
15590,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,NaN,2.0,200000.0,NaN,bachelor's degree,Computer Science
15591,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Brazil,software development and IT,Employed for wages,male,0.0,2.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Computer Systems Networking and Telecommunicat...
15592,43.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,1.0,3.0,200000.0,NaN,high school diploma or equivalent (GED),NaN
15593,29.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,0.0,5.0,200000.0,NaN,bachelor's degree,Accounting
15594,36.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,United States of America,finance,Employed for wages,male,1.0,1.0,200000.0,NaN,bachelor's degree,Engineering
15595,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Ukraine,software development and IT,Self-employed freelancer,male,0.0,30.0,200000.0,NaN,some high school,NaN
15596,30.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,"less than 100,000",NaN,Brazil,software development and IT,Employed for wages,male,1.0,2.0,200000.0,NaN,high school diploma or equivalent (GED),NaN
15597,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Ukraine,legal,Self-employed freelancer,male,NaN,6.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Law
15598,28.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"less than 100,000",NaN,United States of America,food and beverage,Employed for wages,male,1.0,20.0,200000.0,Full-Stack Web Developer,associate's degree,Computer and Information Systems Security
15599,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,NaN,5.0,200000.0,NaN,"some college credit, no degree",NaN
15600,28.0,1.0,1.0,1.0,0.0,36000.0,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8.0,200000.0,NaN,bachelor's degree,Marketing
15601,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,legal,Employed for wages,male,NaN,10.0,200000.0,NaN,bachelor's degree,Criminal Justice and Safety Studies
15602,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,India,software development and IT,Employed for wages,male,NaN,50.0,200000.0,Data Scientist / Data Engineer,bachelor's degree,Mathematics
15603,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,4.0,200000.0,NaN,bachelor's degree,Computer Science
15604,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Norway,construction and extraction,Employed for wages,male,NaN,5.0,200000.0,Front-End Web Developer,"some college credit, no degree",NaN
15605,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Portugal,software development and IT,Employed for wages,male,NaN,5.0,200000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15606,43.0,0.0,NaN,NaN,NaN,NaN,NaN,3.0,more than 1 million,NaN,Canada,legal,Self-employed business owner,male,1.0,3.0,200000.0,NaN,bachelor's degree,Physics
15607,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Philippines,software development,Self-employed freelancer,male,0.0,8.0,200000.0,NaN,no high school (secondary school),NaN
15608,43.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,United States of America,health care,Employed for wages,male,1.0,6.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical Engineering
15609,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,0.0,16.0,200000.0,NaN,bachelor's degree,Software Engineering
15610,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,education,Employed for wages,male,NaN,5.0,200000.0,Front-End Web Developer,master's degree (non-professional),Religious Studies
15611,37.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,more than 1 million,NaN,Canada,software development and IT,Self-employed business owner,male,1.0,40.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical and Electronics Engineering
15612,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Employed for wages,female,NaN,2.0,200000.0,NaN,"some college credit, no degree",NaN
15613,30.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,South Africa,software development and IT,Employed for wages,male,1.0,4.0,200000.0,NaN,"trade, technical, or vocational training",NaN
15614,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,finance,Employed for wages,male,NaN,3.0,26000.0,NaN,"trade, technical, or vocational training",NaN
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [35]:
#degrees_data = new_df.rename(bachelor's degree: "Yes": "No"}, {bachelor's degree: "Yes"})
new_df["SchoolDegree"] = new_df["SchoolDegree"].replace(
 {"bachelor's degree": "Yes", "bachelor's degree": "Yes"})
print(new_df["SchoolDegree"])
# no degree, high school diploma or equivalent (GED), trade, technical, or vocational training, some high school, nan, no high school (secondary school)

0                 some college credit, no degree
1                 some college credit, no degree
2        high school diploma or equivalent (GED)
3                                            Yes
4                 some college credit, no degree
                          ...
15615                                        Yes
15616                                        Yes
15617                                        Yes
15618         master's degree (non-professional)
15619                                        Yes
Name: SchoolDegree, Length: 15620, dtype: object

<ipython-input-35-8cdfa1e803b4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["SchoolDegree"] = new_df["SchoolDegree"].replace(

In [ ]:
# Create a new table consolodating above calculations

In [ ]:
# Improve formatting before outputting spreadsheet

In [ ]:
# Export to Excel