In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:

coders_df = pd.read_csv(coders)
coders_df.head()# Read with pandas

C:\Users\redea\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_df = coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
yesno_df = new_df.replace({0: "No", 1: "Yes"})

In [7]:
# Calculate total number of respondents in survey 
total_respondents = len(new_df) #changed variable name from len_respondents to total respondents
total_respondents

15620

In [43]:
# Extract rows corresponding only to people who attended a bootcamp
attended = yesno_df.loc[yesno_df["AttendedBootcamp"]=="Yes"]
attended.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN
206,36.0,Yes,Yes,No,No,NaN,No,2,more than 1 million,NaN,Japan,NaN,A stay-at-home parent or homemaker,female,Yes,20,NaN,Mobile Developer,bachelor's degree,Communications
209,25.0,Yes,Yes,No,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Not working but looking for work,male,NaN,40,NaN,Full-Stack Web Developer,"professional degree (MBA, MD, JD, etc.)",Computer Science
236,52.0,Yes,Yes,Yes,No,45000.0,No,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Self-employed freelancer,male,NaN,30,45000.0,NaN,"some college credit, no degree",NaN
272,38.0,Yes,Yes,Yes,Yes,50000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Structural Engineering
273,35.0,Yes,Yes,Yes,Yes,60000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10,54000.0,NaN,bachelor's degree,Public Administration
285,23.0,Yes,Yes,Yes,No,40000.0,Yes,NaN,NaN,NaN,United States of America,software development,Employed for wages,male,NaN,40,NaN,NaN,bachelor's degree,Journalism
315,31.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Self-employed freelancer,genderqueer,NaN,20,35000.0,User Experience Designer,bachelor's degree,Communications
316,22.0,Yes,Yes,No,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,30,NaN,Front-End Web Developer,associate's degree,General Studies
328,30.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,sales,Employed for wages,female,NaN,20,35000.0,Front-End Web Developer,bachelor's degree,Advertising and Marketing
426,30.0,Yes,Yes,No,Yes,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,education,Employed for wages,male,NaN,40,NaN,Full-Stack Web Developer,bachelor's degree,Liberal Arts
435,26.0,Yes,Yes,No,Yes,NaN,Yes,NaN,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,male,NaN,50,NaN,Front-End Web Developer,associate's degree,Psychology
449,38.0,Yes,Yes,No,No,NaN,Yes,NaN,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,female,NaN,20,NaN,NaN,bachelor's degree,Architecture
465,40.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,A stay-at-home parent or homemaker,female,NaN,8,NaN,Quality Assurance Engineer,master's degree (non-professional),English
470,45.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,50,NaN,Mobile Developer,bachelor's degree,Liberal Arts
478,37.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,NaN,female,NaN,50,NaN,Full-Stack Web Developer,bachelor's degree,Sociology
481,27.0,Yes,Yes,No,No,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,NaN,Not working but looking for work,female,NaN,2,NaN,Front-End Web Developer,"trade, technical, or vocational training",NaN
488,25.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Unable to work,male,NaN,9,NaN,Front-End Web Developer,bachelor's degree,Psychology
505,28.0,Yes,Yes,Yes,Yes,50000.0,Yes,Yes,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,Yes,15,38000.0,NaN,"some college credit, no degree",NaN
506,38.0,Yes,Yes,No,No,NaN,Yes,2,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,female,Yes,25,NaN,Back-End Web Developer,bachelor's degree,Anthropology
510,33.0,Yes,No,NaN,No,NaN,Yes,NaN,more than 1 million,NaN,Australia,NaN,Not working and not looking for work,male,NaN,60,NaN,Full-Stack Web Developer,"trade, technical, or vocational training",NaN
522,33.0,Yes,Yes,No,Yes,NaN,No,NaN,"less than 100,000",NaN,United States of America,NaN,Employed for wages,male,NaN,10,NaN,Full-Stack Web Developer,bachelor's degree,Psychology
525,31.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,50,NaN,Full-Stack Web Developer,bachelor's degree,Psychology
526,30.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,female,NaN,50,NaN,Back-End Web Developer,bachelor's degree,Nutrition
533,20.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,India,software development and IT,Employed for wages,male,NaN,6,6000.0,NaN,bachelor's degree,Communications
543,27.0,Yes,Yes,Yes,No,58000.0,Yes,NaN,"less than 100,000",NaN,United States of America,software development and IT,Employed for wages,female,NaN,5,43000.0,NaN,bachelor's degree,Business Administration

In [40]:
# Calculate average age of attendees
avg_age = round(attended["Age"].mean(), 3)

# Calculate how many people attended a bootcamp
len_attended = len(attended)
len_attended

# Calculate how many attendees hold degrees
degrees = attended["SchoolDegree"].value_counts()
    #degrees = new_df["SchoolDegree"].unique()
    #for x in new_df.loc[:, "SchoolDegree"]:
    #rename = new_df.rename({"some college credit": "No",})

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

# Calculate percentage of respondents who attended a bootcamp

# Calculate percentage of respondents belonging to each gender

# Calculate percentage of attendees with a school degree

# Calculate average post-bootcamp salary

31.066

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,Yes,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,Yes,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,Yes,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,Yes,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,Yes,Graphic Design

In [41]:
#degrees_data = new_df.rename(bachelor's degree: "Yes": "No"}, {bachelor's degree: "Yes"})

# no degree, high school diploma or equivalent (GED), trade, technical, or vocational training, some high school, nan, no high school (secondary school)

In [ ]:
# Create a new table consolodating above calculations

In [ ]:
# Improve formatting before outputting spreadsheet

In [ ]:
# Export to Excel